*{
  margin: 0;
  padding: 0;
  
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #20262E;
  align-items: flex-start;
  width: 100%;
}

.AppContainer {
  margin-top: 50px;
  width: 400px;
  min-height: 600px;  
  border-radius: 15px;
  background-color: white;
  padding: 20px;
}

.form {
  /* padding: 10px; */
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
}

.tareasContainer {
  display: flex;
  flex-direction: column;
}

.input {
  height: 20px;
  font-size: 0.9rem;
  padding: 5px;
}
.inputButton {
  background-color: transparent;
  border: none;
  height: 20px;
  padding: 0 20px;
  cursor: pointer;
}

@media (max-width:600px){

  .App {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #20262E;
    align-items: center;
    width: 100%;
  }

  .AppContainer {
    margin-top: 0;
    width: 90%;
    min-height: 80%;  
    border-radius: 15px;
    background-color: white;
    padding: 20px;
  }
  
  .form {
    /* padding: 10px; */
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
  }
  
  .tareasContainer {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    height: 20px;
    font-size: 0.9rem;
    padding: 5px;
  }
  .inputButton {
    background-color: transparent;
    border: none;
    height: 20px;
    padding: 0 20px;
    cursor: pointer;
  }
}